body {
  background-color: rgb(226, 227, 235);
  font-family: 'Roboto', sans-serif;
}


.background-container {
  height: 620px;
  background-image: url(X/IMG_4659.JPG);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
}

.paragraph-div {
  background-color: rgba(0, 0, 0, 0.5);
  margin: auto;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
  width: 80%;
  border-radius: 8px;
}

.namee-div {
  display: flex;
  margin: auto;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0;
}

.surname {
  color: gold;
}

.detail {
  color: white;
}

.slate {
  display: flex;
  text-align: center;
  width: 70%;
}

.xtra-btn {
  width: 100%;
  height: 50px;
  margin: auto;
  align-items: center;
  justify-content: center;
}

.xtra-btn1 {
  background-color: gold;
  width: 47%;
  height: 70%;
  border-radius: 2px;
  cursor: pointer;
  color: black;
}

.xtra-btn1:hover{
  background-color: rgb(222, 189, 2);
  color: grey;
}

.xtra-btn1:active{
  background-color: gold;
}

.xtra-btn1-div {
  font-size: 20px;
  margin: 0 10px 0 -20px;
}

.xtra-btn2-div {
  font-size: 20px;
  margin: 0 10px 0 -10px;
}

.welcome-message {
  font-style: italic;
  color: black;
}

.main-nav {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 200;
}

.pre-welcome {
  background-color: rgb(195, 198, 209);
}

.pre-div {
  border-bottom: 2px solid white;
}

.left-side {
  width: 92px;
  min-width: 90px;
  border: 2px solid gold;
}

.name {
  width: 90px;
  height: 100%;
}

.span {
  color: white;
}

.menu-div {
  flex-shrink: 0;
  margin: auto;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: white;
  display: inline-flex;
  white-space: nowrap;
}

.menu-div:hover{
  color: gold;
}

.home {
  width: 40px;
  height: 35px;
  font-size: 20px;
  text-align: center;
  flex-shrink: 0;
}

.sof {
  font-weight: bold;
  color: gold;
  text-shadow: antiquewhite;
}

.button {
  width: 124px;
  margin-right: auto;
  height: 40px;
  border-radius: 4px;
  border: 2px solid gold;
  color: white;
  transition: color 0.005s;
}

.button:hover{
  background-color: rgb(222, 189, 2);
  color: black;
  border-color: white;
}

.plate-3 {
  width: 0;
  padding: 20px 0 20px 0;
  flex-direction: column;
  margin: auto;
  align-items: center;
  justify-content: center;
  flex: 1;
}

/*this code is purposely for the mobile version*/
.plate-3-sample {
  width: 0;
  padding: 0;
  flex-direction: column;
  margin: auto;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.ideate {
  color: gold;
  margin-bottom: 12px;
}

.plate {
  margin: auto;
  justify-content: center;
  width: 90%;
}

.plate-2 {
  margin-bottom: 10px;
  border: 1px white solid;
  flex: 1;
}

.plate-2:hover {
  border: 1px gold solid;
}

.title {
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.bio {
  width: 80%;
  margin: auto;
  box-shadow: 3px 3px 15px 3px rgba(187, 185, 185, 0.5);
  margin-bottom: 30px;
  z-index: 100;
}

.middle {
  min-width: 500px;
  margin-left: 4px;
  margin-right: 4px;
}

.hello {
  min-width: 500px;
  margin-left: 4px;
  margin-right: 4px;
}

.bio-div{
  background-color: rgba(187, 185, 185, 0.5);
  display: flex;
  margin: auto;
}

.hee {
  color: rgb(24, 49, 83);
}

.head-div {
  background-color: rgb(190, 190, 190);
  padding-left: 15px;
  z-index: 100;
  min-width: 150px;
}

.bio-pee {
  font-size: 17px;
  font-weight: 500;
  z-index: 100;
}

.image4 {
  z-index: 100;
  margin-top: 37px;
}

.image4-div {
  z-index: 100;
  background-color: rgba(187, 185, 185, 0.5);
}

.pee-div {
  background-color: white;
  padding: 10px 30px 15px 15px;
  display: flex;
  flex-direction: column;
  height: 92.2%;
}

.mini-pee {
  width: 100%;
  padding-left: 15px;
}

.skills {
  width: 80%;
  box-shadow: 3px 3px 15px 3px rgba(187, 185, 185, 0.5);
  background-color: white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.tools {
  font-size: 20px;
  font-weight: bold;
  color: grey;
  padding-top: 8px;
}

.resume-button {
  background-color: white;
  margin-top: 25px;
  border-radius: 8px;
  font-weight: bold;
  color:  rgb(24, 49, 83);
  box-shadow: 2px 2px 15px 2px rgba(0, 0, 0, 0.2);
}

.resume-button:hover{
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.2);
  color: white;
  background-color:rgb(33, 64, 107);
}

.xtra-button {
  width: 50px;
  height: 39px;
  color: white;
  border: 2px solid gold;
  border-radius: 7px;
  cursor: pointer;
}

.xtra-button:hover {
  background-color: rgb(222, 189, 2);
  color: black;
  border-color: white;
}

.projects-div {
  width: 100%;
  background-image: url(X/IMG_4575.JPG);
  background-repeat: no-repeat;
  background-position: cover bottom;
  background-size: cover;
  margin-top: 20px;
}

.projects-sub-div {
  width: 85%;
  margin: auto;
  align-items: center;
  justify-content: center;
  box-shadow: 3px 3px 15px 3px rgba(187, 185, 185, 0.5);
  background-color: rgb(195, 198, 209);
  padding: 15px 20px 15px 20px;
  border-radius: 10px;
}

.projects-title {
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  margin-bottom: 30px;
}

.projects-title2 {
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  margin-bottom: 50px;
}

.r-side {
  font-size: 30px;
  font-weight: bold;
  height: 60px;
  margin-bottom: auto;
  margin-top: 10px;
}

.styles {
  padding-bottom: 100px;
}

.expoo {
  width: 270px;
  height: 45px;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
}

.expoo2 {
  font-size: 20px;
  color: grey;
}

.expooo2 {
  font-size: 20px;
  color: white;
}

.expoo3 {
  width: 170px;
  border-bottom: 2px solid gold;
}

.idea {
  font-size: 50px;
  color: gold;
}

.ideateee {
  width: 45px;
}

.come {
  margin-top: 8px;
  color: rgb(24, 49, 83);
}

.comeee {
  margin-top: 8px;
  color: white;
  font-size: 27px;
}

.e-commerce {
  padding: 0 0 10px 2px;
  cursor: pointer;
  background-color: rgb(238, 238, 238);
  border-radius: 10px;
  z-index: 100;
}

.e-commerce:hover{
  box-shadow: 5px 5px 20px 5px rgba(131, 130, 130, 0.2);
}

.input-div {
  position: relative;
}

.input {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 4px;
  bottom: 0;
  white-space: nowrap;
}

.input2-div {
  position: relative;
  display: flex;
}

.input2 {
  position: absolute;
  background-color: white;
  color:  rgb(24, 49, 83);
  border: 1px solid  rgb(24, 49, 83);
  padding: 2px 5px 2px 5px;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.03s;
  cursor: pointer;
}

.input2:hover{
  opacity: 1;
}

.stack-div {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.detailed {
  display: flex;
  flex: 1;
  flex-shrink: 0;
  margin-top: auto;
  flex-direction: column;
  white-space: nowrap;
}

.titlee {
  font-size: 23px;
  font-weight: bold;
  cursor: auto;
  color: rgb(24, 49, 83);
  display: inline;
  display: flex;
  flex: 1;
  flex-shrink: 0;
}

.stacks {
  display: flex;
  width: 0;
  flex: 1;
  font-size: 15px;
}

.click {
  background-color: white;
  width: 30%;
  height: 94%;
  color:  rgb(24, 49, 83);
  border-radius: 8px;
  font-weight: bold;
  border: 1px solid rgb(24, 49, 83);;
  box-shadow: 2px 2px 15px 2px rgba(0, 0, 0, 0.2);
}

.click2 {
 font-size: 15px;
 background-color: rgb(24, 49, 83);
 height: 97%;
 color: white;
 width: 40%;
 border-radius: 8px;
 box-shadow: 2px 2px 15px 2px rgba(0, 0, 0, 0.2);
 white-space: nowrap;
}

.click2:hover{
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.2);
  background-color: white;
  color: rgb(24, 49, 83);
  font-weight: bold;
}

.click2:active{
  background-color: rgb(24, 49, 83);
  color: white;
}

.click:hover{
  background-color:  rgb(24, 49, 83);
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.2);
  color: white;
}

.click:active{
  background-color: white;
  color:  rgb(24, 49, 83);
}

.btn1 {
  background-color: rgb(173, 19, 173);
  padding: 1px 5px 1px 5px ;
  font-weight: bold;
  font-size: 14px;
  border-radius: 3px;
  margin-bottom: 5px;
  cursor: auto;
}

.btn2 {
  background-color: rgb(249, 64, 157);
  padding: 1px 5px 1px 5px ;
  font-weight: bold;
  font-size: 14px;
  border-radius: 3px;
  margin-bottom: 5px;
  cursor: auto;
}

.btn3 {
  background-color: lime;
  padding: 1px 5px 1px 5px ;
  font-weight: bold;
  font-size: 14px;
  border-radius: 3px;
  margin-bottom: 5px;
  cursor: auto;
}

.second-btn-div {
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 35px;
}

.detailed-image {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.member-div {
  display: flex;
  margin-right: auto;
  margin-left: 14px;
  align-items: center;
  justify-content: center;
}

.member-button {
  background-color: rgb(24, 49, 83);
  color: white;
  border-radius: 8px;
  margin-top: 8PX;
  box-shadow: 2px 2px 15px 2px rgba(0, 0, 0, 0.2);
}

.member-button:hover{
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.2);
  background-color: white;
  color:  rgb(24, 49, 83);
  font-weight: bold;
}

.member-button:active{
  background-color: rgb(24, 49, 83);
  color: white;
}

.cardz {
  padding-top: 25px;
}

.cardss {
  background-color: rgb(238, 238, 238);
  border-radius: 4px;
  cursor: pointer;
}

.cardss:hover{
  border-width: 0;
  box-shadow: 3px 3px 15px 3px rgba(161, 161, 161, 0.5);
  border-radius: 4px;
  background-color: white;
}

.cards2 {
  flex-direction: column;
  margin: auto;
  align-items: center;
  justify-content: center;
  padding-top: 4px;
}

.ideatee {
  font-size: 40px;
  color: rgb(24, 49, 83);
  text-align: center;
  padding-top: 5px;
}

.title5 {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 5px;
}

.more-div {
  display: flex;
  width: 200px;
  height: 100px;
  margin: auto;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.more-btn-div {
  height: 60px;
  width: 180px;
  align-items: center;
}

.all-btn {
  color: rgb(24, 49, 83);
  background-color: white;
  height: 65%;
  width: 130px;
  border-radius: 8px;
  font-size: 15px;
  font-weight: bold;
  box-shadow: 2px 2px 15px 2px rgba(0, 0, 0, 0.2);
}

.all-btn:hover{
  background-color:rgb(24, 49, 83);
  color: white;
  border-color:   rgb(24, 49, 83);
}

.ex {
  display: flex;
  height: 70px;
  width: 300px;
}

.exp {
  color: white;
  flex: 1;
  font-size: 40px;
  font-weight: bold;
  padding-left: 10px;
}

.exp-div {
  display: flex;
  flex: 1;
  align-items: center;
}

.omni{
  background-color: rgb(195, 198, 209);
  padding-bottom: 100px;
}

.expertise {
  margin-bottom: 50px;
  margin: auto;
  align-items: center;
  justify-content: center;
}

.mobile {
  margin: auto;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 80%;
  margin-top: 10px;
}

.mobile-dev {
  font-size: 20px;
  font-weight: bold;
  margin-top: 0;
}

.app {
  height: 57%;
  font-size: 15px;
  text-align: center;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

.app-btn-div {
  display: flex;
  align-items: center;
  margin: auto;
  justify-content: center;
  width: 50%;
}

.app-btn {
  background-color: white;
  margin-bottom: auto;
  margin-top: 3px;
  height: 40px;
  width: 110px;
  border-radius: 8px;
  font-weight: bold;
  box-shadow: 1px 1px 15px 1px rgba(0, 0, 0, 0.1);
}
    
.app-btn:hover{
  background-color: rgb(24, 49, 83);
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.2);
  color: white;
}
   
.bg {
  width: 315px;
  height: 335px;
  margin-top: auto;
  border-radius: 15px;
  background-color: rgb(238, 238, 238);
}

.bg:hover{
  box-shadow: 5px 5px 20px 5px rgba(131, 130, 130, 0.2);
}
    
.mo {
  font-size: 35px;
  margin: 0;
  margin-bottom: 0;
}

.checkmark {
  margin-right: 8px;
  font-size: 20px;
  color: gold;
}

.footer {
  background-color: rgb(24, 49, 83);
  width: 100%;
}

.footer0 {
  width: 100%;
}

.footer1 {
  padding-left: 20px;
}

.footer1-div2 {
  font-size: 25px;
  margin-bottom: 20px;
}

.footer1-div {
  font-size: 25px;
  cursor: pointer;
}

.footer1-sub-div {
 width: 33%;
 text-align: center;
 color: white;
 margin-left: 8px;
}

.footer1-sub-div2 {
  margin-top: 60px;
}

.footer2 {
  color: white;
  width: 100%;
  height: 80%;
}

.links {
  width: 100%;
}

.link-h {
  color:  rgb(121, 125, 156); 
}

.copyright {
  font-size: 15px;
  color: white;
}

.xtra {
  padding-top: 7px;
  width: 50px;
  text-align: center;
  font-size: 25px;
  background-color: rgb(24, 49, 83);
  color: rgb(226, 227, 235);
}

.xtra1 {
  padding-left: 4px;
}

.xtra2 {
  font-size: 20px;
  font-weight: bold;
}

.xtra3 {
  font-weight: 400;
  color: rgb(24, 49, 83); 
}

.xtra4 {
  border: 1px solid rgb(24, 49, 83);  
  width: 300px;
}



